<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Jordan Singer WWDC 15 WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Jordan Singer WWDC 15.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8611BB751AEDCB1B00936B97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86AAB38C1ADD905C00ABDBD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86AAB3A11ADD905C00ABDBD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
